.legend-title {
  text-align: center;
  font-size: 8vw;
}

.legend {
  list-style: none;
}

.legend li {
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.legend img {
  height: 110px;
  width: 110px;
}

.legend span {
  font-size: 7vw;
  font-family: 'Exo-Regular', Fallback, sans-serif;
  padding-left: 10px;
}
