body {
  margin: 0;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
.legend-poster .legend-title {
  text-align: center;
  font-size: 8vw;
}

.legend-poster .legend {
  list-style: none;
}

.legend-poster .legend li {
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.legend-poster .legend img {
  height: 110px;
  width: 110px;
}

.legend-poster .legend span {
  font-size: 7vw;
  padding-left: 10px;
}
