/* Experimental Allstate theme */

@font-face {
  font-family: Exo-Bold;
  src: url(fonts/Exo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: Exo-Regular;
  src: url(fonts/Exo-Regular.ttf) format('truetype');
}

/* Sign page */

.sign .title {
    color: black;
    font-family: 'Exo-Bold', Fallback, sans-serif;
}

.sign .subtitle {
    color: black;
    font-family: 'Exo-Regular', Fallback, sans-serif;
}

/* Legend page */

.legend-title {
  font-family: 'Exo-Bold', Fallback, sans-serif;
}

.legend {
  font-family: 'Exo-Regular', Fallback, sans-serif;
}
